@model Avis

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Avis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commentaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAvis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAvis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utilisateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utilisateur.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.Adresse)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAvis">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
