@model IEnumerable<Avis>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commentaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAvis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilisateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAvis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilisateur.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.Adresse)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAvis">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAvis">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAvis">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
