@model IEnumerable<Promotion>

@{
    ViewData["Title"] = "Index";
}

<h1>Promotions</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Promotion</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().IdPromotion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DiscountPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().EndDate)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPromotion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountPercentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate.ToShortDateString())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate.ToShortDateString())
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPromotion" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdPromotion" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPromotion" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
